#header {
    background-color: #98b2f2;
    border-bottom: 2px solid #222428;
    overflow:hidden;
    padding: 7px;
    margin-top: 5px;
}

#header h1 {
    font-size: 20px;
    float: left;
    vertical-align: middle;
    margin: 0;
    padding: 0 0 0 .3em;
}

body {
  background-color: #e0eafd;
}

p, h1, td, h5 {
 font-family: Verdana, Geneva, sans-serif;
}

td {
    font-size: 12px;
}

h5 {
    font-size: 10px;
}

.button-success {
  color: white;
  font-size: 85%;
  background: rgb(28, 184, 65);
}