<!DOCTYPE html>

<html lang="en" ng-app="myApp">

<head>
    <link href="css/buttons-min.css" rel="stylesheet" type="text/css"> <!-- Pure CSS buttons-->
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="js/xml2json.min.js"></script>
    <script src="js/controller.js"></script>
    <title>MyQuotes</title>
</head>
    
<body ng-controller="QuotesController as ctrl">
    
    <div id="header">
          <h1>MyQuotes</h1>
      </div><br>
    
    <p><b>Your Quotes</b></p>
<table>
    <tr ng-repeat="quote in ctrl.quotes | filter:query | orderBy:orderBy">
          <td>{{$index + 1}}</td>
          <td ng-hide="hideAuthor">{{quote.author}}</td>
          <td ng-hide="hideQuotes">{{quote.quote}}</td>
          <td ng-show="showDelete"><button ng-click="ctrl.deleteQuote(quote.id)">Delete</button></td>
    </tr>
</table>
    
    <p>Search: <input ng-model="query"></p>
    <p>Order By: 
	<select ng-model="orderBy">
  		<option value="author">Author</option>
  		<option value="quote">Quote</option>
	</select>
</p>
    
       <p>Hide Author: <input type="checkbox" ng-model="hideAuthor"><br>
       Hide Quotes: <input type="checkbox" ng-model="hideQuotes"><br>
       Show Delete Options: <input type="checkbox" ng-model="showDelete"></p>
    
    <br><br>
    
    <b><p>Add to List: </p></b>
    <form ng-submit="ctrl.search()">
    <p>Search for Author: <input ng-model="ctrl.author"></p>
    <input class="button-success pure-button" type="submit" value="Search">
    </form>
    
    <p>Hide Results: <input type="checkbox" ng-model="hideResults"></p>
    
    <p ng-bind="ctrl.error" ng-show="ctrl.showError"></p>
    <table>
        <tr ng-repeat="results in ctrl.result | filter:queryResults" ng-hide="hideResults">
            <td>{{$index + 1}}</td>
            <td>{{results.quote}}<button ng-click="ctrl.addQuote(results.index)">Add</button></td>
        </tr>
    </table>
    <p>Refine Search: <input ng-model="queryResults"></p>
    <h5>Quotes Database provided by <b>www.stands4.com.</b></h5>
    
</body>
</html>